@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700&display=swap');

@layer base {
  :root {
    --font-primary: 'Work Sans', Helvetica;
    --app-bg: #2b2b2b;
  }

  html,
  body {
    font-family: var(--font-primary);
    background-color: var(--app-bg);
    margin: 0;
    min-height: 100%;
  }
}
